<footer class="panel-footer" style="background-color: black">
    <p style="color: whitesmoke">&copy; @DateTime.Now.Year - Used Cars</p>
    <p style="color: whitesmoke">Nikola Radovanović S20/17</p>
</footer>